body {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #2d2d2d;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: aliceblue;
}

h1 {
    color: #c4c4c4;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: #e2c653;
}

a:focus {
    color: #e2c653;
}

a:hover {
    color: #e2c653;
    text-decoration: underline;
    cursor: pointer;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.footer {
    background-color: #222;
    border-color: #080808;
    margin-top: 10px;
    border-radius: 5px;
    padding: 8px 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.main-contianer {
    text-align: center;
    align-content: center;
    height: 100%;
    width: 700px;
    border-radius: 7px;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-chat-container {
    font-family: "Lucida Sans Unicode";
    width: 100%;
    height: 400px;
    margin: 25px 3px 25px 3px;
    padding: 15px 20px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-window {
    
}

.shadow {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

/* message sender box */
.message-box {
    width: 90%;
    height: 70px;
    color: #232323;
    margin-left: 5%;
    resize: none;
}

.message-received {
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin-right: 12px;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
}

.message-received-text {
    word-wrap: break-word;
}

.message-received-text i {
    margin-right: 4px;
}

.message-time {
    font-size: 9px;
    color: darkgray;
}

.message-new-member {
    text-align: center;
    font-size: 12px;
    color: darkgray;
}

.buffer {
    width: 100%;
    height: 100%;
}

.buffer-left {
    float: left;
}

.buffer-right {
    float: right;
}