@{
    ViewData["Title"] = "Speak Up!";
}

<h1 id="main-chat-title" class="main-chat-title"></h1>
<div class="main-contianer shadow">
    <div id="chat-scroll" class="main-chat-container">
        <div id="chat-window" class="chat-window"></div>
    </div>
    <hr style="margin: 15px;" />
    <div class="message-sender-container">
        <div class="form-group"><textarea type="text" rows="2" id="message-box" class="message-box form-control" placeholder="Type stuff here! :)"></textarea></div>
    </div>
</div>


