@{
    ViewData["Title"] = "Home Page";
}
<div class="main-contianer">
    <div class="main-chat-container">
        <div id="main-chat-title" class="main-chat-title"></div>
        <div id="chat-window"></div>
        <div class="message-sender-container">
            <div class="message-sender">
                <div><textarea type="text" rows="5" cols="60" id="message-box" class="message-box"></textarea></div>
                <div><input type="button" id="message-send" class="message-send btn btn-primary" value="Send" /></div>
            </div>
        </div>
    </div>
</div>
<div><a href="https://radu-matei.com/blog/signalr-core/">Read about SignalR here.</a></div>
<div><a href="https://github.com/davidfowl/SignalRCoreAlphaSample">Read about SignalR here.</a></div>
